[Unit]
Description=Weekly ElecFreaks KB mirror sync

[Timer]
OnCalendar=weekly
OnStartupSec=15min
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
